.footer {
  width: 93%;
  background-color: #4f3d5e;
  color: #b1868f;
  padding-left: 50px;
  overflow: hidden;
  float: right;
  margin-top: 120px;
  padding-bottom: 120px !important;
}

.social-icon {
  vertical-align: middle;
  margin-right: 10px;
}

a.social-link {
  font-size: 18px;
  color: #f3f3f3;
}

a.social-link:hover {
  color: #ffcd8a;
  text-decoration: none;
}
