.intro {
  width: 93%;
  min-height: 680px;
  background-color: white;
  float: right;
  margin-top: -100px;
  position: relative;
  z-index: 10;
  overflow: hidden;
  padding-left: 120px;
  padding-bottom: 120px;
  box-shadow: 5px 10px #c3b6cd;
}
