// Bootstrap theme overrides
$body-bg: #fff;
$body-color: #000;
$primary: #000;

// Include all of Bootstrap
@import './assets/scss/bootstrap';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px; /* Margin bottom by footer height */
}
